* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gap: 1em;
  --index: calc(1vw + 1vh);
  --color-dark: #000;
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 0.2em;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  opacity: 0.9;
}

.header h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif serif;
  font-size: calc(var(--index) * 2.8);
  font-weight: 200;
  /* position: absolute; */
}

.loader {
  margin-top: 5px;
  font-size: calc(var(--index) * 0.75);
  display: block;
  font-family: Helvetica, sans-serif;
}